<html>
    
    <form method = 'POST' action='/signup' id='signupform'>
    <input name='username'></input>
    <input name = 'password'></input>
    <button type='submit'> Login </button>
    </form>
    
</html>